absl-py
aioice
aiortc
albucore
albumentations
altair
altex
annotated-doc
annotated-types
anyio
asn1crypto
astunparse
attrs
av
beautifulsoup4
bidict
blinker
boto3
botocore
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
contourpy
cryptography
customtkinter
cycler
darkdetect
dnspython
entrypoints
eventlet
Faker
fastapi
favicon
filelock
flatbuffers
fonttools
fsspec
gast
gitdb
GitPython
google-crc32c
google-pasta
greenlet
grpcio
h11
h5py
htbuilder
idna
ifaddr
jax
jaxlib
Jinja2
jmespath
joblib
jsonschema
jsonschema-specifications
keras
kiwisolver
libclang
lxml
Markdown
markdown-it-py
markdownlit
MarkupSafe
matplotlib
mdurl
mediapipe
ml-dtypes
mpmath
namex
narwhals
networkx
numpy
opencv-contrib-python
opencv-python
opencv-python-headless
opt_einsum
optree
packaging
pandas
pillow
platformdirs
plotly
prometheus_client
protobuf
pyarrow
pycparser
pydantic
pydantic_core
pydeck
pyee
Pygments
PyJWT
pylibsrtp
pymdown-extensions
pyOpenSSL
pyparsing
python-dateutil
python-dotenv
python-engineio
python-socketio
pytz
PyYAML
referencing
requests
rich
rpds-py
s3transfer
scikit-learn
scipy
seaborn
setuptools
setuptools-scm
simple-websocket
simsimd
six
smmap
snowflake-connector-python
snowflake-snowpark-python
sortedcontainers
sounddevice
soupsieve
st-annotated-text
st-theme
starlette
streamlit
streamlit-avatar
streamlit-camera-input-live
streamlit-card
streamlit-embedcode
streamlit-extras
streamlit-image-coordinates
streamlit-keyup
streamlit-notify
streamlit-toggle-switch
streamlit-vertical-slider
streamlit-webrtc
streamlit_faker
stringzilla
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
threadpoolctl
toml
tomlkit
torch
torchaudio
torchvision
tornado
tqdm
typing-inspection
typing_extensions
tzdata
tzlocal
urllib3
uvicorn
validators
vcs-versioning
Werkzeug
wheel
wrapt
wsproto
